{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
     <title>Add to-do</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container">
        <a class="navbar-brand" href="#">My to-do list</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
            <a class="nav-link" href="#">Add todo</a>
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
        <h2>Add to-do </h2>
        <form action="{% url 'add_todo' %}" method="POST">
            {% csrf_token %}
                 <div class="col-4">
                    <div class="row g-2 align-items-start">
                       <label for="to_do" class="form-label">To-do</label>
                       <input name="text" type="text" class="form-control" id="to_do">
                    </div>
                 </div>
            <br>
                <div class="col-4">
                    <div class="row g-2 align-items-start">
                       <select class="form-select"  name="select">
                           {% for el in choices %}
                                <option value={{el.0}}>{{el.1}}</option>
                           {% endfor %}
                       </select>
                    </div>
                </div>
            <br>
                <div class="col-4">
                    <div class="row g-2 align-items-start">
                       <label for="description" class="form-label">Description</label>
                       <textarea name="textarea" class="form-control" id="description">{{description}}</textarea>
                    </div>
                 </div>
            <br>
                <div class="col-4">
                    <div class="row g-4 align-items-start">
                        <div class="col-auto">
                             <label for="date_made" class="form-label">Date of completion </label>
                        </div>
                        <div class="col-auto">
                            <input name="completion_data" type="date" class="form-control" id="date_made" >
                        </div>
                    </div>
                </div>
            <br>
                <div class="col-3">
                    <button type="submit" class="btn btn-primary">Create to-do</button>
                </div>
        </form>
  </div>
</body>
</html>