{% extends 'base.html' %}
{% block navbar %}
    <a class="nav-link" href="{% url 'add_todo' %}">Add todo</a>
{% endblock %}

{% block content %}
    <div class="main">
            {% if to_does%}
                <h2> List to-do</h2>
              {% for to_do in to_does%}
                <div class="container">
                  <div class="row">
                    <div class="col-5">
                      {{to_do.text}}
                    </div>
                    <div class="col-4">
                      {{to_do.status}}
                    </div>
                    <div class="col-2">
                      {{to_do.completion_data}}
                    </div>
                    <div class="col-1">
                        <a href="{% url 'todo' to_do.pk %}">Details</a>
                    </div>
                  </div>
                </div>
              {% endfor %}
           {% else %}
             <h2>Add to to-do list</h2>
           {% endif %}
            <br>
           <a href="{% url 'add_todo' %}">Add to-do</a>
        </div>
{% endblock %}
