{% csrf_token %}
     <div class="col-4">
        <div class="row g-2 align-items-start">
            {% if errors.text %}
                <p class="errors">{{errors.text}}</p>
            {% endif %}
           <label for="to_do" class="form-label">To-do</label>
           <input name="text" value="{{todo.text}}" type="text" class="form-control" id="to_do">
        </div>
     </div>
<br>
    <div class="col-4">
        <div class="row g-2 align-items-start">
           <select class="form-select"  name="status">
               {% for el in choices %}
                    {% if todo.status == el.0 %}
                        <option value={{el.0}} selected>{{el.1}}</option>
                    {% else %}
                        <option value={{el.0}}>{{el.1}}</option>
                    {% endif %}
               {% endfor %}
           </select>
        </div>
    </div>
<br>
    <div class="col-4">
        <div class="row g-2 align-items-start">
           <label for="description" class="form-label">Description</label>
           <textarea name="description" class="form-control" id="description">{{todo.description}}</textarea>
        </div>
     </div>
<br>
    <div class="col-4">
        <div class="row g-4 align-items-start">
            <div class="col-auto">
                 <label for="date_made" class="form-label">Date of completion </label>
            </div>
            <div class="col-auto">
                <input name="completion_data" value="{{todo.completion_data}}" type="date" class="form-control" id="date_made" >
            </div>
        </div>
    </div>
<br>
    <div class="col-3">
        <button type="submit" class="btn btn-primary">{{button_text}}</button>
    </div>